# cache
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# virtual environment
.venv/

# build
.pdm-build

# javascript
node_modules/

# snapshots
snapshots/

# environment
.env

# coverage
.coverage
coverage.xml
htmlcov/
*.cover
.hypothesis/